<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-secondary">
  <div class="container-sm position-absolute top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <div class="row vh-70 overflow-hidden">
      <div class="col-md-3 position-relative px-5 py-5" id="left-col">
        <div class="row justify-content-start justify-content-md-center mb-5">
          <img src="/logo-long-dark.png" class="w-60" alt="">
        </div>
        <div class="row justify-content-center mb-3">
          <img src="/profile.jpg" class="w-60 rounded-pill border border-3 border-light p-0 d-none d-lg-block" alt="Profile Picture">
        </div>
        <div class="row text-center mb-1">
          <h5 class="m-0 text-dark">Yudistira Ardi</h5>
        </div>
        <div class="row text-center">
          <p class="fs-10">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus neque asperiores inventore vel doloribus amet 
            soluta eius excepturi non sit?
          </p>
        </div>
        <nav class="navbar position-absolute bottom-0 start-50 translate-middle-x d-flex justify-content-between rounded-pill bg-primary w-80 px-3 mb-3 gap-4">
          <div class="container rounded-pill d-flex justify-content-center w-10 px-0 m-0">
            <button
              type="button"
              class="btn rounded-pill p-0 rotatable"
              id="btn-menu"
              data-bs-toggle="collapse" data-bs-target="#collapseNav"
              aria-controls="collapseNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="bi bi-pause-circle-fill fs-3"></i>
            </button>
          </div>
          <div class="container rounded-pill d-flex justify-content-center w-10 px-0 m-0">
            <a href="/home.html" class="btn btn-secondary btn-prev btn-light rounded-pill">
              <i class="bi bi-chevron-left"></i>
            </a>
          </div>
        </nav>
      </div>
      <div class="col-md-3 px-5 py-5">
        <div class="row text-center mb-3">
          <h5 class="m-0 mb-2">
            Where Your Story Unfolds in a Snap!
          </h5>
          <p class="fs-10">
            StoryApp allows users to share moments, thoughts, and updates with a captivating blend of images and text. 
            With a user-friendly interface, StoryApp provides a seamless and enjoyable experience for sharing your life's 
            highlights in a unique and compelling way!
          </p>
        </div>
        <div class="row text-center mb-3">
          <h5 class="m-0 mb-2">
            Features
          </h5>
          <p class="fs-10">
            Scrollable carousel <br>
            Dynamic stories data <br>
            Post new story <br>
            Story preview <br>
            Login <br>
          </p>
        </div>
        <div class="row text-center mb-3">
          <h5 class="m-0 mb-3">
            Technologies
          </h5>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <img src="/javascript-dark.png" class="w-10" alt="">
            <img src="/bootstrap-dark.png" class="w-10" alt="">
            <img src="/sass-dark.png" class="w-10" alt="">
            <img src="/lit-dark.png" class="w-10" alt="">
            <img src="/git-dark.png" class="w-10" alt="">
            <img src="/html-dark.png" class="w-10" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 h-100 p-0 border border-7 border-start-0 border-primary rounded-5 overflow-hidden" id="main-col">
          <img src="/about-pic-light.jpg" class="img-fluid rounded-5 w-100 h-100 object-fit-cover" alt="">
      </div>
    </div>
    <nav-collapse
      class="row collapse"
      id="collapseNav"
    >
    </nav-collapse>
  </div>
  <div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <img src="/julia-garner.jpg" class="rounded me-2 w-10" alt="...">
        <strong class="me-auto">StoryApp</strong>
        <small class="fs-12">Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-10">
        Please use username & password below to login. </br>
        Username: julia <br>
        Password: garner
      </div>
    </div>
  </div>
</body>
</html>