<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-secondary">
  <div class="container-sm position-absolute top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <div class="row vh-70 overflow-hidden">
      <div class="col-md-3 position-relative py-5" id="left-col">
        <div class="row justify-content-start justify-content-md-center mb-5">
          <img src="/logo-long-dark.png" class="w-50" alt="StoryApp Logo">
        </div>
        <div class="row justify-content-center mb-2">
          <img src="/julia-garner.jpg" class="w-50 rounded-pill border border-3 border-light p-0 d-none d-lg-block" alt="Profile Picture">
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-end gap-2">
            <p class="m-0 text-dark fs-6">@juliagarner</p>
            <a href="/" class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Log out">
              <i class="bi bi-gear-fill fs-8"></i>
            </a>
          </div>
        </div>
        <div class="row text-center">
          <h5 class="m-0 text-dark">Julia Garner</h5>
        </div>
        <nav-buttons
          class="navbar position-absolute bottom-0 start-50 translate-middle-x d-flex justify-content-center rounded-pill bg-primary w-80 py-2 mb-3 gap-4"
        >
        </nav-buttons>
      </div>
      <div class="col-md-9 h-100 p-0 overflow-hidden" id="main-col">
        <div
          id="mainCarousel"
          class="carousel slide vertical h-100 p-0"
          data-bs-ride="false"
        >
          <div class="carousel-indicators me-4"></div>
          <div class="carousel-inner h-100 border rounded-5 border-7 border-start-0 border-primary"></div>
        </div>
      </div>
    </div>
    <nav-collapse
      class="row collapse"
      id="collapseNav"
    >
    </nav-collapse>
  </div>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="/julia-garner.jpg" class="rounded me-2 w-10" alt="...">
        <strong class="me-auto">StoryApp</strong>
        <small class="fs-12">Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-10">
        Hi, it seems your friends have a new stories to share. Check them out now!
      </div>
    </div>
  </div>
  <div class="alert" role="alert"></div>
</body>
</html>