<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-secondary">
  <div class="container-sm position-absolute top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <div class="row vh-70 overflow-hidden">
      <div class="col-md-3 position-relative py-5" id="left-col">
        <app-logo></app-logo>
        <main-form idName="login-form"></main-form>
      </div>
      <div class="col-md-9 p-0 h-100 border border-7 border-start-0 border-primary rounded-5 overflow-hidden" id="main-col">
        <img src="/login-pic-light.jpg" class="object-fit-cover rounded-5 w-100" alt="">
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <img src="/julia-garner.jpg" class="rounded me-2 w-10" alt="...">
        <strong class="me-auto">StoryApp</strong>
        <small class="fs-12">Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-10">
        Please use username & password below to login. </br>
        Username: julia <br>
        Password: garner
      </div>
    </div>
  </div>
</body>
</html>