<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-secondary">
  <div class="container-sm position-absolute vh-75 top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <div class="row overflow-hidden">
      <div class="col-md-3 position-relative py-5 transition-fade" id="left-col">
        <div class="row justify-content-start justify-content-md-center mb-5">
          <img src="/logo-long-dark.png" class="w-50" alt="">
        </div>
        <form class="needs-validation" id="login-form" novalidate>
          <div class="mx-4 mb-2">
            <input type="text" class="form-control form-control-sm fs-10" id="username" minlength="5" placeholder="Username" required>
            <div class="invalid-feedback">Please enter a valid username.</div>
          </div>
          <div class="mx-4 mb-2">
            <input type="password" class="form-control form-control-sm fs-10" id="password" minlength="5" placeholder="Password" required>
            <div class="invalid-feedback">Please enter a valid password.</div>
          </div>
          <div class="mx-4 mb-4 text-dark d-flex justify-content-end">
            <a href="" class="link-dark link-opacity-75-hover link-underline-opacity-0 fs-10">Forgot password?</a></p>
          </div>
          <div class="d-grid mx-4 mb-2">
            <button class="btn btn-dark fs-8 fw-1" type="submit">Log in</button>
          </div>
          <div class="mx-4 mb-2 text-dark d-flex justify-content-center">
            <p class="fs-10">Don't have an account? <a href="" class="link-dark link-opacity-75-hover link-offset-1">Sign up</a>.</p>
          </div>
        </form>
      </div>
      <div class="col-md-9 p-0 border border-7 border-start-0 border-primary rounded-5" id="main-col">
        <img src="/login-pic-light.jpg" class="rounded-5 w-100" alt="">
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="newPostToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="/julia-garner.jpg" class="rounded me-2 w-10" alt="...">
        <strong class="me-auto">StoryApp</strong>
        <small>Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Your friends have a new stories. Check them out now!
      </div>
    </div>
  </div>
</body>
</html>