<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/gif/png" href="logo.png">
  <title>Login | Story App</title>
</head>
<body class="bg-secondary">
  <div class="wrapper container-md position-absolute top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <loading-animation></loading-animation>
    <div class="main-wrapper row vh-70 overflow-hidden">
      <div class="col-12 col-md-5 col-lg-4 col-xl-3 h-100 overflow-auto py-5 pop-element" id="left-col">
        <app-logo></app-logo>
        <main-form idName="login-form"></main-form>
      </div>
      <div class="col-12 col-md-7 col-lg-8 col-xl-9 h-100 d-none d-md-block overflow-auto p-0 border border-7 border-start-0 border-primary rounded-5 overflow-hidden pop-element-reverse" id="main-col">
        <img src="/login-pic-light.jpg" class="object-fit-cover rounded-5 w-100 h-100" alt="">
      </div>
    </div>
  </div>
  <div class="toast-container d-none position-fixed top-0 start-0 p-3">
    <div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <img src="/logo-dark.png" class="rounded me-2 w-5" alt="logo">
        <strong class="me-auto fs-11">StoryApp</strong>
        <small class="fs-12">Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-10">

      </div>
    </div>
  </div>
  <div class="alert fs-10" role="alert"></div>
</body>
</html>