<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-secondary">
  <div class="container-sm position-absolute top-50 start-50 translate-middle bg-primary rounded-5 shadow-1">
    <div class="row vh-70 overflow-hidden">
      <div class="col-md-3 position-relative py-5 transition-fade" id="left-col">
        <app-logo></app-logo>
        <div class="row mb-4">
          <div class="col-12 d-flex flex-row justify-content-center align-items-center gap-2">
            <img src="/julia-garner.jpg" class="rounded-pill border border-2 border-dark w-20" alt="Profile Picture">
            <div class="d-flex flex-column">
              <p class="m-0">Julia Garner</p>
              <p class="fs-12 m-0">Post new story</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <main-form></main-form>
          </div>
        </div>
        <nav-buttons
          class="navbar position-absolute bottom-0 start-50 translate-middle-x d-flex justify-content-center rounded-pill bg-primary w-80 py-2 mb-3 gap-4"
        >
        </nav-buttons>
      </div>
      <div class="col-md-9 h-100 p-0 border border-7 border-start-0 border-primary rounded-5" id="main-col">
        <story-preview></story-preview>
      </div>
    </div>
    <nav-collapse
      class="row collapse"
      id="collapseNav"
    >
    </nav-collapse>
  </div>
  <div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <img src="/julia-garner.jpg" class="rounded me-2 w-10" alt="...">
        <strong class="me-auto">StoryApp</strong>
        <small class="fs-12">Just Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fs-10">
        Due to browser security restrictions,
        please use a image with the filename 'STORY-IMAGE.jpg' or any file located in the 'public/img' directory.
        Thanks!
      </div>
    </div>
  </div>
  <div class="alert" role="alert"></div>
</body>
</html>